<div class="mat-elevation-z24 container">
  <table mat-table [dataSource]="dataSource" [trackBy]="trackBy">
    <!-- name Column -->
    <ng-container matColumnDef="name" class="container">
      <th mat-header-cell *matHeaderCellDef>Όνομα</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- surname Column -->
    <ng-container matColumnDef="surname" class="container">
      <th mat-header-cell *matHeaderCellDef>Επίθετο</th>
      <td mat-cell *matCellDef="let user">{{ user.surname }}</td>
    </ng-container>

    <!-- idNum Column-->
    <ng-container matColumnDef="idNum" class="container">
      <th mat-header-cell *matHeaderCellDef>Αριθμός</th>
      <td mat-cell *matCellDef="let user">{{ user.idNum }}</td>
    </ng-container>

    <!-- checkInTime Column -->
    <ng-container matColumnDef="checkInTime" class="container">
      <th mat-header-cell *matHeaderCellDef>Ώρα Εισόδου</th>
      <td mat-cell *matCellDef="let user">
        {{ user.checkInTime.toDate() | date: "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" class="container">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-flat-button color="basic" (click)="deleteUser(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      [@listAnimation]=""
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
