.mat-elevation-z24 {
  margin: 3rem auto; // 3 rem questionable
  align-items: center;
  width: 70%; //
  border-radius: 20px;
  overflow: hidden !important;
}
.mat-table {
  margin: 0 auto;
  align-items: center;
  border-radius: 20px;
  overflow: hidden !important;
  width: 100%;
}

td,
th {
  text-align: center !important;
}

.mat-paginator {
  padding-right: 5rem;
}

.mat-column-checkInTime {
  width: 35% !important;
}

@media (max-width: 599.98px) and (orientation: portrait),
  (max-width: 959.98px) and (orientation: landscape) {
  .mat-elevation-z24 {
    width: 95%;
  }
}
