<div class="container">
  <div class="top-bar">
    <!--Flex container -->
    <mat-form-field appearance="standard" [style.width.px]="500">
      <!--Should be squeezed on the left-->
      <mat-label>Search for a user</mat-label>
      <input matInput autocomplete="off" #searchInput />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      color="basic"
      (click)="onSearch(searchInput.value)"
    >
      Search
    </button>
    <span class="spacer"></span>
    <mat-dialog-content>
      <mat-icon class="icon" (click)="popup()">add_circle_outline</mat-icon>
    </mat-dialog-content>
  </div>

  <table mat-table [dataSource]="users$" class="table-list mat-elevation-z24">
    <!-- Name Column -->

    <mat-dialog-content matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let _">
        <mat-icon class="icon" (click)="popup()">add_circle_outline</mat-icon>
      </td>
    </mat-dialog-content>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>Surname</th>
      <td mat-cell *matCellDef="let user">{{ user.surname }}</td>
    </ng-container>

    <!-- IDNum Column -->
    <ng-container matColumnDef="idNum">
      <th mat-header-cell *matHeaderCellDef>idNum</th>
      <td mat-cell *matCellDef="let user">{{ user.idNum }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
