.card {
  background-color: #5a5a5a;
  margin: 3rem auto;
  padding: 2rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leftBox {
  width: 40%;
}

@media screen and (max-width: 959px) {
  .card {
    flex-direction: column;
  }
  .rightBox {
    margin: 5rem;
  }

  .leftBox {
    width: 100%;
  }

  .qrCode {
    margin: 0;
  }
}

button {
  margin-top: 2rem;
}

p {
  color: #c7c7c7;
}
.card {
  background-color: #5a5a5a;
  margin: 3rem auto;
  padding: 2rem 4rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leftBox {
  width: 40%;
}

.qrCode,
p {
  margin-right: 8rem;
}

@media screen and (max-width: 959px) {
  .card {
    flex-direction: column;
  }
  .rightBox {
    margin: 5rem;
  }

  .leftBox {
    width: 100%;
  }

  .qrCode,
  p {
    margin: 0;
  }
}

button {
  margin-top: 2rem;
}

p {
  color: #c7c7c7;
}
