<div *ngIf="isHandset$ | async">
  <div class="container mat-elevation-z24">
    <mat-vertical-stepper linear #stepper>
      <mat-step>
        <div class="step">
          <ng-template matStepLabel>Καλωσορίσατε</ng-template>
          <div class="info">
            <h3>Καλωσορίσατε στο FieldID!</h3>
            <h3>
              Αυτή η εφαρμογή δημιουργήθηκε για να κάνει πιο εύκολη και γρήγορη
              την καταγραφή εισόδων σε αθλητικές εγκαταστάσεις
            </h3>
          </div>
          <div>
            <button mat-raised-button matStepperNext color="primary">
              Επόμενο
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel>Εγγραφή χρηστών</ng-template>
          <div class="info">
            <h3>
              Μπορείτε να κάνετε εγγραφή χρηστών μέσα από το μενού "Διαχείρηση
              Χρηστών". Αφού γεμίσετε την φόρμα εγγραφής κατά την ολοκλήρωσή της
              θα εμφανιστεί ένα QR code. Αυτό το QR code δίνεται στον αθλητή
              ώστε να μπορεί να το σκανάρει κατά την είσοδό του
            </h3>
          </div>
          <div>
            <button mat-raised-button matStepperPrevious color="primary">
              Πίσω
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Επόμενο
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel>Σκάνερ</ng-template>
          <div class="info">
            <h3>
              Για να σκανάρετε τα QR codes χρησιμοποιείτε το "Σκάνερ". Κάθε φορά
              που σκανάρετε ένα QR code τα στοιχεία του χρήστη προσθέτονται στην
              "Κατάσταση"
            </h3>
          </div>
          <div>
            <button mat-raised-button matStepperPrevious color="primary">
              Πίσω
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Επόμενο
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel>Κατάσταση</ng-template>
          <div class="info">
            <h3>
              Στην κατάσταση βρίσκονται όλοι οι χρήστες που έχουν εισέλθει στον
              χώρο, με τους πιο πρόσφατους να εμφανίζονται πιο πάνω στην λίστα
            </h3>
          </div>
          <div>
            <button
              mat-raised-button
              matStepperPrevious
              color="primary"
              [routerLink]="['/manageUsers']"
            >
              Διαχείρηση Χρηστών
            </button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>

<div *ngIf="!(isHandset$ | async)">
  <div class="container mat-elevation-z24">
    <mat-horizontal-stepper linear #stepper>
      <mat-step>
        <div class="step">
          <ng-template matStepLabel>Καλωσορίσατε</ng-template>
          <div class="info">
            <h3>Καλωσορίσατε στο FieldID!</h3>
            <h3>
              Αυτή η εφαρμογή δημιουργήθηκε για να κάνει πιο εύκολη και γρήγορη
              την καταγραφή εισόδων σε αθλητικές εγκαταστάσεις
            </h3>
          </div>
          <div>
            <button mat-raised-button matStepperNext color="primary">
              Επόμενο
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel>Εγγραφή χρηστών</ng-template>
          <div class="info">
            <h3>
              Μπορείτε να κάνετε εγγραφή χρηστών μέσα από το μενού "Διαχείρηση
              Χρηστών". Αφού γεμίσετε την φόρμα εγγραφής κατά την ολοκλήρωσή της
              θα εμφανιστεί ένα QR code. Αυτό το QR code δίνεται στον αθλητή
              ώστε να μπορεί να το σκανάρει κατά την είσοδό του
            </h3>
          </div>
          <div>
            <button mat-raised-button matStepperPrevious color="primary">
              Πίσω
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Επόμενο
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel>Σκάνερ</ng-template>
          <div class="info">
            <h3>
              Για να σκανάρετε τα QR codes χρησιμοποιείτε το "Σκάνερ". Κάθε φορά
              που σκανάρετε ένα QR code τα στοιχεία του χρήστη προσθέτονται στην
              "Κατάσταση"
            </h3>
          </div>
          <div>
            <button mat-raised-button matStepperPrevious color="primary">
              Πίσω
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Επόμενο
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel>Κατάσταση</ng-template>
          <div class="info">
            <h3>
              Στην κατάσταση βρίσκονται όλοι οι χρήστες που έχουν εισέλθει στον
              χώρο, με τους πιο πρόσφατους να εμφανίζονται πιο πάνω στην λίστα
            </h3>
          </div>
          <div>
            <button
              mat-raised-button
              matStepperPrevious
              color="primary"
              [routerLink]="['/manageUsers']"
            >
              Διαχείρηση Χρηστών
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
