.mat-stepper-horizontal {
  margin: 20px auto;
  width: 90%;
}

.container {
  width: 90%;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 3em auto;
}

h2,
h3 {
  color: whitesmoke;
  font-weight: normal;
}

.info {
  padding: 1.5em 0em;
  justify-content: center;
  max-width: 600px;
}

button {
  padding: 0em 1em;
  margin-right: 1em;
}

@media (min-width: 599.98px) and (orientation: portrait),
  (min-width: 959.98px) and (orientation: landscape) {
  .info {
    height: 100px;
  }
}
